body {
    font-family: Arial;
    padding: 20px;
    background: pink;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: pink;
    position: fixed;
  }
  nav {
      font-family:'Playfair Display', serif;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 20vw;
      background-color: pink;
      padding-bottom: 30px;
      border: 5px solid hotpink;
      margin: 5px;
      box-sizing: border-box;
  }
  nav ul {
      list-style-type: none;
  }
  .navigation li {
      display: inline;
  } 
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  .fakeimg {
    
    width: 100%;
    padding: 20px;
  }
  .card {
    background-color: purple;
    padding: 20px;
    margin-top: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  